p, h1, h2, label, footer {
  font-family: 'Bree Serif', serif;;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 25px;
}

p {
  font-size: 15px;
}

.plot {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
}

body {
  display: flex;
  flex-direction: row;
  padding: 10px;
}


.newMovie {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}

.movies {
  padding-left: 40px;
  max-width: 500px;
}

.hidden {
  display: none;
}

.toggle-button {
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 10px;
}
