p, h3, label, footer {
  /* font-family: 'Bree Serif', serif; */
  font-family: 'Josefin Sans', sans-serif;
}

h1, h2 {
  font-family: 'Bree Serif', serif;
}
h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 15px;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.plot {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
}

.flexBox {
  display: flex;
  padding: 20px;
  flex-direction: row;
  max-width: max-content;
  justify-content: center;
  flex-wrap: wrap;
}

.flexCols {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.intro {
  max-width: 200px;
}

img{
  max-width: 200px;
}

.newMovie {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}

.movies {
  padding-left: 40px;
  max-width: 500px;
}

.toggle-button {
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 10px;
}
