p, h1, h2, label{
  font-family: 'Bree Serif', serif;;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 25px;
}

p {
  font-size: 15px;
}

.plot {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
}
